.title {
  font-weight: 700;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
    
}
.block {
  background-color:	#777777;
  padding: 70px;
  text-align: center;
}
.button{
  width: 18%;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  border: none;
}
.block1 {

  flex: 1;
  padding: 20px;
  background-color: transparent;
align-items: flex-start;
}
.block2 {

  flex: 1;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
 margin: auto;

}
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  padding: 2rem;
  margin: 0 auto;
  flex-wrap: wrap;
  border-bottom: 2px solid #bfbbbb;
}
.title1 {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-bottom: 0.5rem;
}
.title2 {
  font-weight: 700;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  
}
.imagePlaceholder {
  width: 100px;
  height: 100px;
  background-color: #e0e0e0;
  flex-shrink: 0;  
  flex-grow: 0;     
}
.imagePlaceholder1 {
  width: 145px;
  height: 145px;
  background-color: #e0e0e0;
  border-radius: 50%;
  flex-shrink: 0;  
  flex-grow: 0;     
  align-items: center;
}
.block3 {

  flex:1;
  padding: 20px;
  background-color: #ffffff;
  
  
  display: flex;
  gap: 1rem;
  align-items: right;
 margin: auto;

}
.block4 {

  flex:1;
  padding: 20px;
  background-color: #ffffff;
  
  
  display: flex;
  gap: 1rem;
  align-items: right;
 margin: auto;

  justify-content: flex-end;

}
.button1 {
  width: 40%;
  padding: 18px 5px 18px 5px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 8px;
  font-size: 18px;
  border: none;
}

.slider {
  background-color:	#dddddd;
  padding: 140px;
  text-align: center;
 margin: 70px auto;
 border-radius: 8px;
}

.slideText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  color: #000000;
  transition: opacity 0.5s ease-in-out;
}
.values{
  
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #bfbbbb;
}
.title3{

   font-weight: 700;
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
}